<input id="file-input" type="file" accept=".mid, .midi" class="file-input" (change)="onLoad($event)" #fileUpload>
<div class="file-upload">
    <div class="filename">{{display || "No file uploaded."}}</div>
    <div class="btn-container">
        <mat-icon class="icon" *ngIf="!isLoading" [matMenuTriggerFor]="fileMenu">folder_open</mat-icon>
        <mat-progress-spinner class="load-spinner" mode="indeterminate" *ngIf="isLoading"/>
    </div>
    <mat-menu #fileMenu="matMenu" class="file-menu">
        <button mat-menu-item (click)="fileUpload.click()">Upload MIDI file...</button>
        <mat-divider></mat-divider>
        <button mat-menu-item *ngFor="let file of fileNames" (click)="onMenuSelect(file)">{{file}}</button>
    </mat-menu>
</div>