.file-upload {
  display: grid;
  grid-template-columns: auto 40px;
}

.file-input {
  display: none;
}

.filename {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

/* 
.upload-btn {
  background-color: transparent;
  color: transparent;
} */

.icon {
  /* background-color: black; */
  color: forestgreen;
}