<div class="file-container">
    <ot-file></ot-file>
</div>
<div class="controls-container" *ngIf="model.isMidiLoaded">
    <div class="list-container">
        <div cdkDropList class="track-list" (cdkDropListDropped)="drop($event)">
            @for (t of model.tracks; track t) {
            <div cdkDrag (contextmenu)="onContextMenu($event, t)">
                <ot-track-item [track]="t"></ot-track-item>
            </div>
            }
        </div>
        <div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x"
            [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
        </div>
        <mat-menu #contextMenu="matMenu">
            <ng-template matMenuContent let-track="track">
                <button mat-menu-item (click)="onMenuSelect(true)">Select All</button>
                <button mat-menu-item (click)="onMenuSelect(false)">Select None</button>
                <mat-divider></mat-divider>
                <button mat-menu-item *ngIf="model.tracks[0] != track" (click)="onMenuMergeUp(track)">Merge into Track
                    Above</button>
                <button mat-menu-item *ngIf="anyTrackInstrument(track)"
                    (click)="model.mergeTrackInstrument(track.program.instrument)">Merge
                    {{track.program?.instrument}} Tracks</button>
                <button mat-menu-item *ngIf="anyTrackInstruments()" (click)="model.mergeTrackInstruments()">Merge
                    by Instruments</button>
                <button mat-menu-item *ngIf="anyTrackTypes()" (click)="model.mergeTrackTypes()">Merge by Track
                    Types</button>
                <button mat-menu-item *ngIf="model.tracks.length > 1" (click)="onMenuMergeUp(track)"
                    (click)="model.mergeAll()">Merge All Tracks</button>
                <mat-divider></mat-divider>
                <button mat-menu-item (click)="model.removeTrack(track)">Remove Track</button>
            </ng-template>
        </mat-menu>
    </div>
    <div class="controls">
        <label>Zoom</label>
        <div>
            <mat-slider min="1" max="4" step="0.025" [(ngModel)]="model.zoomLevel" ngDefaultControl>
                <input matSliderThumb [value]="model.zoomLevel">
            </mat-slider>
            <span class="slider-value">{{model.zoomLevel}}</span>
        </div>
        <mat-radio-group [(ngModel)]="model.overtoneDisplay">
            <mat-radio-button [value]="OvertoneDisplayEnum.Frequency">Frequencies</mat-radio-button>
            <mat-radio-button [value]="OvertoneDisplayEnum.CentsOffset">Cents Offset</mat-radio-button>
            <mat-radio-button disabled="true" [value]="OvertoneDisplayEnum.Chord">Chord</mat-radio-button>
        </mat-radio-group>
        <div>
            <div *ngIf="model.overtoneDisplay === OvertoneDisplayEnum.Frequency">
                <mat-slider disabled="true" min="0" max="1">
                    <input matSliderThumb [value]="0">
                </mat-slider>
            </div>
            <div *ngIf="model.overtoneDisplay === OvertoneDisplayEnum.CentsOffset">
                <mat-slider min="0" max="50" [(ngModel)]="model.centsThreshold" ngDefaultControl>
                    <input matSliderThumb [value]="model.centsThreshold">
                </mat-slider>
                <span class="slider-value">{{model.centsThreshold}}</span>
            </div>
            <div *ngIf="model.overtoneDisplay === OvertoneDisplayEnum.Chord">
                <mat-slider min="5" max="13" step="2" [(ngModel)]="model.centsThreshold" ngDefaultControl>
                    <input matSliderThumb [value]="5">
                </mat-slider>
                <span class="slider-value">5</span>
            </div>
        </div>
        <mat-checkbox [(ngModel)]="model.drawBackground">Draw Background</mat-checkbox>
        <mat-checkbox [(ngModel)]="model.drawMonochrome">Draw Monochrome</mat-checkbox>
    </div>
</div>