<h2>{{midiService.title}}</h2>
<ot-file></ot-file>
<div class="controls-container" *ngIf="midiService.midiFile != undefined">
    <div class="list-container">
        <mat-list>
            <mat-list-item *ngFor="let track of tracks">
                <ot-track-item [track]="track"></ot-track-item>
            </mat-list-item>
        </mat-list>
    </div>
    <div class="controls">
        <div>
            <label>Zoom</label>
        </div>
        <div>
            <mat-slider discrete min="1" max="4" step="0.025" [(ngModel)]="midiService.zoom" ngDefaultControl>
                <input matSliderThumb [value]="midiService.zoom">
            </mat-slider>
        </div>
        <mat-radio-group [(ngModel)]="midiService.showHeatMap">
            <mat-radio-button [value]="false">Frequencies</mat-radio-button>
            <mat-radio-button [value]="true">Heatmap</mat-radio-button>
        </mat-radio-group>
        <div>
            <mat-slider discrete min="0" max="50" [(ngModel)]="midiService.heatMapThreshold"
                [disabled]="!midiService.showHeatMap" ngDefaultControl>
                <input matSliderThumb [value]="midiService.heatMapThreshold">
            </mat-slider>
        </div>
    </div>
</div>