@use '../../main.scss' as *;

.track-container {
    display: grid;
    grid-template-columns: 40px auto 22px;
    grid-template-rows: auto auto;
    background-color: $control-background;
    margin-top: 1px;
}

.program-container {
    display: flex;
}

.program-select {
    font-size: small;
}

.check-container {
    grid-row: span 2;
    display: flex;
    align-items: center;
}

.track-name {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    @include center(y);
}

input[type="color"] {
    grid-row: span 2;
    opacity: 0;
    display: block;
    width: 100%;
    height: 100%;
    border: none;
}

.color-picker-container {
    float: left;
    grid-row: span 2;
    border-radius: 11px;
    margin: 4px;
}

.program-type {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 4px;
    margin: 0;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: small;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 100px;
}

.mat-mdc-checkbox.mat-accent {
    --mdc-checkbox-selected-hover-icon-color: chartreuse !important;
    --mdc-checkbox-selected-pressed-icon-color: lime !important;

    --mdc-checkbox-unselected-focus-icon-color: lime !important;
    --mdc-checkbox-unselected-hover-icon-color: lime !important;
    --mdc-checkbox-unselected-icon-color: green !important;
    --mdc-checkbox-unselected-pressed-icon-color: lime !important;
}

.mdc-list-item--selected {
    --mat-option-selected-state-label-text-color: #69f0ae !important;
}

::ng-deep mat-mdc-option {
    min-height: 32px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
}

::ng-deep .mdc-list-item__primary-text {
    text-wrap: nowrap !important;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    font-size: small !important;
}