@use '../../main.scss' as *;

.track-container {
    display: grid;
    grid-template-columns: 40px auto 22px;
    grid-template-rows: auto auto;
    background-color: $control-background;
    margin-top: 1px;
}

.program-container {
    display: flex;
}

.program-select {
    font-size: small;
}

.check-container {
    grid-row: span 2;
    display: flex;
    align-items: center;
}

.track-name {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    @include center(y);
}

input[type="color"] {
    grid-row: span 2;
    opacity: 0;
    display: block;
    width: 100%;
    height: 100%;
    border: none;
}

.color-picker-container {
    float: left;
    grid-row: span 2;
    border-radius: 11px;
    margin: 4px;
}

.program-type {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 4px;
    margin: 0;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: small;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 100px;
    text-align: right;
}
