<div class="track-container">
    <mat-checkbox class="track-check" [(ngModel)]="track!.isTrackVisible"></mat-checkbox>
    <span class="track-name">{{track!.name || "&lt;unnamed&gt;"}}</span>
    <input class="color-picker-display" [(colorPicker)]="track!.color" [style.background]="track!.color"
        cpAlphaChannel="disabled" [cpOKButton]="true" cpOKButtonText="OK" [cpCancelButton]="true"
        cpCancelButtonText="Cancel" />
    <mat-select class="program-select" [(ngModel)]="track!.program">
        <mat-option value="undefined">None</mat-option>
        <mat-option *ngFor="let item of programChanges" [value]="item">{{item.instrument}}</mat-option>
    </mat-select>
    <p class="program-type">{{track?.program?.type}}</p>
</div>