<!-- <div class="canvas-root" (wheel)="onWheelScroll($event)">
    <div id="pitches-container">
        <div class="canvas-corner" *ngIf="_midiService.midiFile != undefined"></div>
        <canvas id="pitches" class="pitches"></canvas>
    </div>
    <div id="canvas-container" class="canvas-container" (pointerdown)="mouseDown($event)" (pointerup)="mouseUp($event)" (scroll)="onCanvasScroll($event)">
        <div class="bars-container">
            <canvas id="bars" class="bars"></canvas>
        </div>
        <canvas id="canvas" class="canvas">
            Your browser does not support the canvas tag.
        </canvas>
    </div>
</div> -->
<!-- <div class="canvas-root" (wheel)="onWheelScroll($event)">
    <div id="pitches-container">
        <div class="canvas-corner" *ngIf="_midiService.midiFile != undefined"></div>
        <canvas id="pitches" class="pitches"></canvas>
    </div>
    <div id="canvas-container" class="canvas-container" (pointerdown)="mouseDown($event)" (pointerup)="mouseUp($event)" (scroll)="onCanvasScroll($event)">
        <div class="bars-container">
            <canvas id="bars" class="bars"></canvas>
        </div>
        <canvas id="canvas" class="canvas">
            Your browser does not support the canvas tag.
        </canvas>
    </div>
</div> -->

<div class="canvas-root">
    <virtual-canvas #canvas></virtual-canvas>
</div>