.canvas-root {
    display: grid;
    grid-template-columns: 18px auto;
    border: 1px solid gray;
    max-height: 903px;
    overflow: hidden;
}

.pitches {
    position: relative;
    width: 18px;
}

.canvas-container {
    overflow: auto;
    scrollbar-color: gray #02141e;
    scrollbar-width: thin;
    max-height: 901px;
}

.canvas-corner {
    background-color: gray;
    height: 18px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.canvas {
    transform-origin: top left;
}

.bars {
    height: 18px;
    position: relative;
}
