@import "../node_modules/@angular/material/prebuilt-themes/purple-green.css";

body {
    background-color: black;
    color: white;
}

color-picker {
    position: fixed;
    z-index: 1;
}

color-picker > div {
    left: unset !important;
    right: 4em !important;
    position: relative !important;
}
